.quiz-title {
    display: flex;
    position: relative;
    justify-content: center;
    font-weight: bolder;
    font-size: xx-large;
    font-family: "Source Code Pro", monospace;
    bottom: -10px;
}
.select-settings-card {
    display: grid;
    position: relative;
    bottom: -200px;
    height: 450px;
    width: 500px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

@media (max-width: 500px) and (min-width: 360px) {
    .select-settings-card {
        bottom: -100px;
        height: 400px;
    }
}
