.title {
    margin-bottom: 10px;
    font-family: "Source Code Pro", monospace;
    font-size: xx-large;
    font-weight: bolder;
}

.array-container {
    position: relative;
    top: 20vh;
    border: 5px solid teal;
}

.array-bar {
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    width: 10px;
    margin: 0px 1px;
}
.feature-buttons {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    
}
.select-speed{
    width: 100px;
}

@media (max-width: 500px) {
    .feature-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }
    .array-container {
        top: 2vh;
    }
}

@media (max-width: 850px) and (min-width: 500px){
    .feature-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }
    .array-container {
        top:15vh;
    }

}
