.test-page {
    margin: 16px;
}
.questions-container {
    position: relative;
    display: grid;
    justify-content: center;
    height: auto;
    width: 500px;
}
.circular {
    position: relative;
    bottom: -50px;
}
.quiz-category,
.username {
    font-weight: bolder;
    font-family: "Source Code Pro", monospace;
}
.username {
    font-size: x-large;
}
.quiz-category {
    font-size: large;
    margin-top: 16px;
    text-transform: uppercase;
}

.options {
    display: grid;
    gap: 15px;
}

.next-button {
    position: absolute;
    right: 0;
    bottom: -50px;
}
