.quiz-button {
    font-size: 20px;
    font-weight: 200;
    font-family: "Source Code Pro", monospace;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    cursor: pointer;
    position: relative;
    background-color: #5150b1;
    transition: all 0.2s ease-out;
}

.quiz-button:hover,
.quiz-button:focus {
    background: #4aa5da;
}

.quiz-button:disabled {
    background-color: #cccccc;
}

.correct {
    font-size: 20px;
    font-weight: 200;
    font-family: "Source Code Pro", monospace;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    cursor: pointer;
    position: relative;
    background-color: #359c43;
}

.incorrect {
    font-size: 20px;
    font-weight: 200;
    font-family: "Source Code Pro", monospace;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    cursor: pointer;
    position: relative;
    background-color: #bd4021;
}

@media (max-width: 500px) and (min-width: 360px) {
    .quiz-button,
    .correct,
    .incorrect {
        font-size: 15px;
    }
}
