/* .main {
    display: flex;
} */
.header {
    margin: 16px;
}

.links {
    display: flex;
    font-weight: bold;
}
#github-link {
    display: flex;
    padding-left: 4px;
}
#gh-icon {
    padding-left: 2px;
}
.footer {
    position: relative;
    bottom: -25vh;
    left: 0;
    right: 0;
}

@media (max-width: 500px) {
    .footer {
        bottom: -3vh;
    }
}

@media (max-width: 850px) and (min-width: 500px) {
    .footer {
        bottom: -20vh;
    }
}
